<% include ../partials/header %>

<h2 class="">Close Pushups</h2>

<p>This section talks about the pros and cons of using the PERFECT.push</p>
<div class="close">
    <p>Pros:</p>
    <p>It involves the entire body.. YES, you read correctly, the ENTIRE body!</p>
</div>

