<% include ../partials/header %>

<div id="main">
<h1 class="has-text-centered">Welcome to a PushUp Blog..</h1>    
  <img src="https://cdn.dribbble.com/users/269111/screenshots/2371101/pushup_dribbble.gif" style="width:25%" >

<h1 class="has-text-primary has-text-centered">Just how perfect are the '<span class="has-text-danger has-text-weight-bold">PERFECT.pushups</span>' ? 🧐</h1>
<p class="has-text-weight-semitbold has-text-centered">As most of you will know when it comes to working out <em>'everyone'</em> who benchs or curls a lot of weight is an <em>'expert'</em> on how to properly train chest.</p><br>
<p>But what about those who can't make it to the gym on '<span class="is-italic has-text-weight-light">chest days</span>' ? 🤔</p>
<p>I came across the <span class="has-text-danger has-text-weight-bold">PERFECT.pushups</span> one day in 2012 at a local park near my house. The concept of working on different muscles with very little movement fascinated me. The rotation on the device 360º '<span class="is-italic has-text-weight-light">wheel</span>' is very functional.</p> 
<p>So I wrote this blog to get people's perspective on the device.</p> 
<p>I want to hear from people who have experienced <span class="has-text-danger has-text-weight-bold">PERFECT.pushup</span>.. Even if you've never used them before but plan on using them in the near future.</p>
<p>Before hitting up the blog check out this article <a href="https://www.t-nation.com/training/best-damn-push-ups-article-period">Best Damn Push Ups </a> written by T Nation, for a little inspiration</p>
</div>

<script>
function openNav() {
    document.getElementById("sideNav").style.width = "150px";
    document.getElementById("main").style.marginLeft = "150px";
}

function closeNav() {
    document.getElementById("sideNav").style.width = "0";
    document.getElementById("main").style.marginLeft= "0";
}
</script>


<% include ../partials/footer %>