<% include ../partials/header %>


<h1 class="content">Just how perfect are the 'PERFECT.pushup' ? 🧐</h1>
<p class="heading">As most of you will know when it comes to working out <em>'everyone'</em> who benchs or curls a lot of weight is an <em>'expert'</em> on how to properly train chest.</p>
<p>Let me be the first to debunk that false theory  --  those who curl and bench a lot are NOT always the best people to take advice from when it comes to building/ sculpting your chest. We idolize what we want in life and our patients are really low when it comes to achieving those 'wants'. We has humans will sometimes look for the easiest way of getting what we want in life. Whether it's cheating or lying to get ahead. But when it comes to your body you can cheat it. Results DO NOT lie -- I repeat DO NOT!!</p>
<p>I recently came across the PERFECT.pushup while working out at a local park, one sunny day. I saw a group of people taking turns using it.</p>
<p>The concept of working on different muscles with very little movement fascinated me very much. At first glance it looks kinda cool! Cushioned grip that assures comfort while doing push ups. Can take it anywhere for usage and the rotation on the 360º 'wheel' is very functional. A little bulky for backpack storage but that's beside the point and I'm not writing this blog about it's able to store in a place nicely.</p>
<p>This blog is about my personal experience with using it and how the subtle movements make a huge difference in sculpting that perfect chest/ tricep/ shoulder (you get the point) area</p>
<p>I want to hear from people who have experienced using these pretty cool instruments.. Even if you've never used them before but plan on using them in the near future.</p>
<p>Hit up the blog.. Tell me how you feel about them</p>


