<% include ../partials/header %>

<div id="main">
<h2 class="is-warning">User comments</h2>
<br>

<% users.forEach(user => { %>
    User: <%= users.first_name %> <%= users.last_name %>
    <br>
    Reps: <%= users.reps %>
    <br>
    Type of Pushup: <%= users.type_of_pushup %>
    <br>
<% }) %>

<script>
function openNav() {
    document.getElementById("sideNav").style.width = "150px";
    document.getElementById("main").style.marginLeft = "150px";
}

function closeNav() {
    document.getElementById("sideNav").style.width = "0";
    document.getElementById("main").style.marginLeft= "0";
}
</script>

<% include ../partials/footer %>