<% include ../partials/header %>

<figure class="image is-128x128">
  <img src="https://cdn.dribbble.com/users/269111/screenshots/2371101/pushup_dribbble.gif" alt="">
</figure>

<table class="table is-selected is-hoverable is-bordered">
    <thead>
      <tr>
        <th>MAX</th>
        <th>NEUTRAL</th>
        </tr>
    </thead>
    <tbody>
      <tr>
        <td>0</td>
        <td>4, 3, 2, 1</td>
      </tr>
      <tr>
        <td>10</td>
        <td>8, 6, 4, 2</td>
      </tr>
      <tr>
        <td>20</td>
        <td>14, 10, 6</td>
      </tr>
      <tr>
        <td>30</td>
        <td>20, 12, 8</td>
      </tr>
      <tr>
        <td>40</td>
        <td>26, 14, 10</td>
      </tr>
    </tbody>
  </table>
  <br>

  <a class="button is-warning is-medium">
  Post
  </a>

<script>
function openNav() {
    document.getElementById("sideNav").style.width = "150px";
    document.getElementById("main").style.marginLeft = "150px";
}

function closeNav() {
    document.getElementById("sideNav").style.width = "0";
    document.getElementById("main").style.marginLeft= "0";
}
</script>