<% include ../partials/header %>

<p class="heading">My favorite out of the three.. W.I.D.E. grip push ups!</p>

<figure class="image is-128x128">
  <img src="<%= ''.img_url %>">
</figure>

<table>
    <thead>
      <tr>
        <th>MAX</th>
        <th>CLOSE</th>
        <th>NEUTRAL</th>
        <th>WIDE</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>0</td>
        <td>4, 3, 2, 1</td>
        <td>4, 3, 2, 1</td>
        <td>4, 3, 2, 1</td>
      </tr>
      <tr>
        <td>10</td>
        <td>8, 6, 4, 2</td>
        <td>8, 6, 4, 2</td>
        <td>8, 6, 4, 2</td>
      </tr>
      <tr>
        <td>20</td>
        <td>14, 10, 6</td>
        <td>14, 10, 6</td>
        <td>14, 10, 6</td>
      </tr>
      <tr>
        <td>30</td>
        <td>20, 12, 8</td>
        <td>20, 12, 8</td>
        <td>20, 12, 8</td>
      </tr>
      <tr>
        <td>40</td>
        <td>26, 14, 10</td>
        <td>26, 14, 10</td>
        <td>26, 14, 10</td>
      </tr>
    </tbody>
  </table>